.introducao.blog-back {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/blog/blog.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed;
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  opacity: 0;
}

.introducao.blog-back h1 {
 text-align: left;
}

.blog h2 {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  font-size: 2.5em;
  letter-spacing: 2px;
  text-align: left;
}


#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px
}

#post-container {
  padding: 60px 120px;
}

#post-container h2 {
  font: 600 1rem/1.4 'Raleway', sans-serif;
  color: var(--textwhite);
  margin-bottom: 20px;
}

#post-container h3 {
  font: 300 1rem/1.4 'Raleway', sans-serif;
  color: var(--textwhite);
  margin-bottom: 20px;
}

#post-container p {
  font: 300 1rem/1.4 'Raleway', sans-serif;
  color: var(--textwhite);
  margin-bottom: 20px;
}

#post-container ul {
list-style: disc;
}

#post-container li {
  font: 300 1rem/1.2 'Raleway', sans-serif;
  color: var(--textwhite);
  margin-bottom: 20px;
  margin-left: 10px;
}

.underline {
  text-decoration: underline;
}

#post-container a {
  font: 300 1rem/1.2 'Raleway', sans-serif;
  color: var(--primary);
}

#post-container a:hover {
  opacity: 0.8;
}

.voltar-blog {
  font: 300 1rem/1.2 'Raleway', sans-serif;
  color: var(--primary);
}

.post-link {
  text-decoration: none;
  color: inherit;
  display: block; /* Faz o link cobrir tudo */
}

.post-content {
  padding: 15px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.post-link:hover .post-content {
  background: rgba(0, 0, 0, 0.05); /* Efeito hover */
}


.post-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: var(--bg-cinza);
}

.post-preview img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.post-preview h2 {
  font: 600 1.6rem/1.3 'Raleway', sans-serif;
  color: var(--primary);
}

.post-preview p {
  font: 300 1rem/1.2 'Raleway', sans-serif;
  color: var(--textwhite);
}

.post-preview a {
  font: 500 1rem/1.2 'Raleway', sans-serif;
  color: var(--primary);
  text-decoration: none;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px 0;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}


#pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination-button {
  padding: 10px 15px;
  margin: 8px;
  margin-bottom: 16px;
  border: none;
  background-color: var(--primary);
  font-weight: bold;
  font: 1rem/1.2 'Raleway', sans-serif;
  border-radius: 4px;  
  color: var(--textwhite);
  cursor: pointer;
  transition: background-color 0.3s ease; /* Removida a vírgula extra */
}

.pagination-button.active {
  background-color: var(--primary);
  font-weight: bold;
  font: 1rem/1.2 'Raleway', sans-serif;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: var(--textwhite);
  color: var(--primary);
}




@media (max-width: 768px) {
  .blog-post {
    width: 100%;
  }

  #post-container {
    padding: 60px 20px;
  }
}