:root {
  --textwhite: #FAFAFA;
  --bg: #212121;
  --bg-escuro: #1A1A1A;
  --primary: #F80D8E;
  --primary-rgb: 248, 13, 142; /* Valores RGB da cor primária */
}

.textwhite {
  color: var(--textwhite);
}

.bg {
  background-color: var(--bg);
}

/* Background Color */
.bg-escuro {
  background-color: var(--bg-escuro);
}

.primary {
  color: var(--primary);
}

.swiper-pagination-bullet {
  background-color: rgba(var(--primary-rgb)); /* Cor do indicador não ativo com 50% de opacidade */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary); /* Cor do indicador ativo */
}