body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, ul, li, a {
  will-change: opacity, transform;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121;
}



.container-background-svg {
  position: relative;
  /* background-image: linear-gradient(to top, var(--bg-escuro) 24%, transparent 20%); */
  z-index: 1;
  overflow: hidden


}

.svg-canal-container {
  position: absolute;
  bottom: -6px;
  z-index: -2;
  width: 100%;
}

.svg-ponto-vista-container  {
  position: absolute;
  bottom: -30%;
  left: -6%;
}


button {
  all: unset;
}

body {
  overflow-x: hidden;
}

#bg-cinza {
  background-color: var(--bg-cinza);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto;
  width: 100%; /* Faz o container ocupar toda a largura disponível */
  padding: 0 20px; /* Espaço interno do container */
  box-sizing: border-box; /* Inclui padding na largura total */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Adiciona suporte para espaçamento em branco */
}

.hidden-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
/* Estilo para o ícone flutuante do WhatsApp */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); /* Sombra mais suave */
  z-index: 1000;
  padding: 18px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
}

.whatsapp-float.hidden {
  opacity: 0; /* Torna o ícone invisível */
  pointer-events: none; /* Desativa os eventos de clique */
}

/* Efeito de hover */
.whatsapp-float:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra mais pronunciada ao passar o mouse */
  transform: scale(1.1); /* Aumenta o tamanho do ícone */
}

.whatsapp-icon {
  width: 100%;
  height: 100%;
}