.metodologia {
  padding: 50px 20px 100px 20px;
  position: relative;
  display: flex; /* Habilita flexbox */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  align-items: center; /* Centraliza verticalmente */
  gap: 20px; /* Espaçamento entre texto e imagem */
}

.metodologia-texto {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  z-index: 2; /* Garante que o texto fique por cima da imagem */
  max-width: 60%; /* Ajuste para a largura do texto */
}

.metodologia h2 {
  font: 300 2.4rem 'Raleway', sans-serif;
  color: var(--textwhite);
}

.metodologia h2 a {
  color: var(--textwhite);
}

.metodologia p {
  font: 300 1rem/1.6 'Raleway', sans-serif;
  color: var(--textwhite);
  max-width: 44ch;
}

.metodologia img {
  position: absolute; /* Fora do container, posicionada à direita */
  right: 0;
  top: 50%;
  transform: translateY(-50%); /* Centraliza verticalmente */
  width: 50%; /* Ajuste para controlar o tamanho da imagem */
  height: auto;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  z-index: 1; /* Coloca a imagem atrás do texto */
}

/* Em telas abaixo de 1024px, diminua a largura da imagem */
@media (max-width: 1024px) {
  .metodologia img {
    width: 40%; /* Ajuste para dispositivos menores */
  }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
  .metodologia {
    padding: 80px 0px;
    flex-direction: column; /* Coloca texto e imagem em coluna */
  }

  .metodologia-texto {  
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    max-width: 100%;
  }

  .metodologia h2 {
    font: 300 2rem 'Raleway', sans-serif;
    text-align: center;
  }

  .metodologia p {
    max-width: 100%;
    text-align: center;
  }

  .metodologia img {
    position: relative; /* Volta a imagem para o fluxo normal */
    width: 100%; /* Largura total em dispositivos móveis */
    height: auto;
    transform: none;
    z-index: 0; /* Coloca a imagem abaixo do texto */
  }
}
