.metodologia {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px;
}

.metodologia h2 {
    font: 300 2.4rem 'Raleway', sans-serif;
    color: var(--textwhite);
}

.metodologia p {
  font: 300 1rem/1.6 'Raleway', sans-serif;
  color: var(--textwhite);
  max-width: 40%;
}

@media (max-width: 768px) {


  .metodologia {
    padding: 80px 20px;
  }

  .metodologia h2 {
    text-align: center;
  }

  .metodologia p {
    max-width: 100%;
    text-align: center;
  }
}