.introducao.solucoes-back {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/solucoes/solucoes-kottler.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

.solucoes-container {
  position: relative;
   width: 100vw;
   height: 100vh;
 }

.solucoes-intro {
  position: absolute;
  right: 20px;
  bottom: 80px; /* Posiciona o contêiner 50% a partir do topo */
  z-index: 1;
  background: var(--primary); /* Adiciona um fundo semitransparente para melhor legibilidade */
  padding: 40px;
  border-radius: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.solucoes-intro h1 {
  color: var(--textwhite);
  font: 700 2.5rem 'Raleway', sans-serif;
}

.solucoes-intro p {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
}

.lista-solucoes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 80px 20px;
}

.solucao-grupo {
  display: flex;
  flex-direction: column; /* Novo container como coluna */
  align-items: flex-start; /* Alinha itens à esquerda */
  width: 100%; /* Ocupa a largura total dentro do gap especificado */
}

.solucao {
  flex: 1;
  min-height: min-content;
  padding: 40px;
  border: 1px solid var(--primary);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.solucao-grupo h2 {
  color: var(--textwhite);
  font: 600 1.4rem/1 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 20px 20px 0 0;
  width: 100%;
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}


.solucao h3 { 
  color: var(--primary);
  font: 600 1.4rem/1.4 'Raleway', sans-serif;
}

.solucao h4 { 
  color: var(--primary);
  font: 600 1rem/1 'Raleway', sans-serif;
}

.solucao p {
  color: var(--textwhite);
  font: 300 1rem/1.4 'Raleway', sans-serif;
}

.solucao ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.solucao li {
  color: var(--textwhite);
  font: 300 1rem/1.4 'Raleway', sans-serif;
  margin-left: 20px;
}