.introducao.vender-back {
  position: relative;
  width: 100vw;
  height: 60vh;
  background-image: url('../img/solucoes/solucoes-kottler.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: top; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed;
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}


.solucao-intro {
  position: absolute;
  top: 50%; /* Centraliza verticalmente a partir do topo */
  right: 20px; /* Mantém 20px da borda direita */
  transform: translateY(-30%); /* Ajusta para centralizar o próprio tamanho do elemento */
  z-index: 1;
  background: var(--primary); /* Adiciona um fundo semitransparente para melhor legibilidade */
  padding: 40px;
  border-radius: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.solucao-intro h1 {
  color: var(--textwhite);
  font: 700 2.5rem 'Raleway', sans-serif;
  text-align: center;
}

.vender-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 20px;
}

.vender-container h2 {
  color: var(--textwhite);
  font: 600 1.6rem/1.6 'Raleway', sans-serif;
}

.vender-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com tamanhos iguais */
  grid-template-rows: auto auto; /* Duas linhas automáticas */
  gap: 40px 60px; /* 10px de gap vertical, 20px de gap horizontal */
}


.vender-item {
  flex: 1 1 30%; /* Ajusta para que cada item tente ocupar cerca de um terço da largura do contêiner */
  min-height: min-content;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.vender-item img {
  width: 20%;
  height: auto;}

.vender-item h3 { 
  color: var(--primary);
  font: 600 1.2rem/1.4 'Raleway', sans-serif;
}

.vender-item p {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
}

.solucoes-como-back {
  padding: 80px 20px;
}

.solucoes-como {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 40px;
  /* padding: 80px 20px; */

}

.solucoes-como h2 {
  color: var(--textwhite);
  font: 600 1.6rem/1.6 'Raleway', sans-serif;
}

.solucoes-como ul {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.solucoes-como li {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
  margin-left: 20px;
}

.solucoes-como strong {
  color: var(--primary);
  font: 600 1rem/1.6 'Raleway', sans-serif;
}